*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: #333;
    margin: 20px;
}

#input-tarefa{
    display: flex;
}

#tarefaInput{
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#botaoAddTarefa{
    padding: 10px 20px;
    background-color: #519cff;
    color: #f5f5f5;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

#botaoAddTarefa:hover{
    background-color: #3a47ff;
}

#listaTarefa{
    list-style-type: none;
}

li{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover{
    background-color: #f5f5f5;
}

li span{
    flex-grow: 1;
    margin: 0 10px 0 0;
}

li button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

li button:hover{
    color: #333;
}